@charset "UTF-8";
/* CSS Document */
body, html {height: 95%}

.contact-second {
	color: dimgrey;
}

#contact-list {
	overflow-y: auto;
	min-height: 200px;
}
#messagesPage .media a {
	text-decoration: none;
}
#messagesPage .media {
	padding: 0 10px;
}

#messagesPage hr {
	margin: 5px;
}

#rightPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	
}

#left-panel {
	display: flex;
	flex-direction: column;
	background-color:rgba(0,0,0,0.05);
	float: left;
	width: 300px;
	height: 95%;
	min-height: 500px;

	margin-right: 20px;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

#top-panel {
	flex: 0 1 auto;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color:rgba(0,0,0,0.05);
	height: 100px;
	padding: 12px 10px 0px 20px;
}

#bottom-panel {
	flex: 1 1 auto;
	border-radius: 10px;
	background-color:rgba(0,0,0,0.05);
	padding: 20px;
	padding: 12px 10px 0px 20px;
	overflow: auto;
}

#search-contacts {
	margin: 10px 0;
}

#send-panel{
	flex: 0 1 auto;
	height: 35px;
	display: flex;
	flex-direction:row;
}

#sendMessageTF {
	flex: 1 1 auto;
	height: 100%;
	border-radius: 20px;
	margin-top:10px;
}

#sendBtn {
	flex: 0 1 auto;
	width: 80px;
	height: 100%;
	margin-left: 10px;
	margin-top:10px;
	border-radius: 20px;
}

#contact-list .media-heading {
	color:darkcyan;
}

#messagesPage .media-body {
	color: dimgrey;
	width: auto;
}

#messagesPage .media-object {
	border: 2px solid rgba(110,110,110,1.00);
	width:50px;
}

#messagesPage .media-sellectedObject {
	border: 2px solid #0083ff;
	width:50px;
/*	box-shadow: 2px 0px 3px 0 rgba(0, 0, 0, 0.2), 2px 0 4px 0 rgba(0, 0, 0, 0.19);*/
}

#top-panel .media-object {
	border: 4px solid #0083ff;
	width:70px;
}

#top-panel .media-heading {
	color: dimgray;
}

#top-panel .media-body {
	padding-top: 17px;
	padding-left: 15px;
	color: grey;
}

#bottom-panel p {
	text-align: center;
	font-size: 80%;
	color : dimgray;
}

#messagesPage .rightAlignment {
	float: right;
}

#messagesPage .rightMessage{
	text-align:right;
	background-color:rgba(0,131,255,1.00);
	border-color:darkgreen;
	border-radius: 14px 15px 0 15px;
	color:white;
	padding: 14px 20px 10px 20px;
	border:solid thin;
}

#messagesPage .leftMessage {
	background-color: rgba(189,189,189,1.00);
	color:rgba(36,35,35,1.00);
	padding: 14px 20px 10px 20px;
	border-radius: 15px 15px 15px 0;
	border:solid thin;
	border-color:rgba(85,85,85,1.00)
}

.glyphicon-trash {
/*	float: right;*/
	padding: 10px 30px 10px 20px;
	color: crimson;
	font-size: 120%;
}