<style>
 @import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
 .content {
    overflow: hidden;
}
@media screen and (max-width: 600px) { 

.sc_image { display: none; }  
h4{
    font-size: 12px;
}

}


.sc_image{
    margin-top:1%;}

.nohover:hover{
   

      background-color: white !important;


}
td{
    padding:0;
}
.content img {
   
    float: left;
}
.table thead tr th, .table tbody tr td {
    font-size: 12px;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}


      .left-nav,.right-nav{
         float:left; 
      }
      .right-nav{
        margin-left:20px;
      }
      a{
        cursor:pointer; 
      }
   

</style>
<script>
$('#my-works-table').DataTable( {
    responsive: true
} );

    </script>
 
     <div class="row">
 <div class="col-md-2">

    <div class="filter">
<!--                                    <div class="block-title">-->

<!--                                         <div class="col-md-2">-->
                        <div data-toggle="collapse" data-target="#filter-myworks" class="my-works-filter-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter workers by <div id="clear-all">Clear all (<span id="count-filters">0</span>)</div>  </div> 
                                
                             <div id="filter-myworks" class="collapse in">
                             <div data-toggle="collapse" data-target="#filter-myworks-years" class="subtitle filter-categories">Date </div>
                                 <div id="filter-myworks-years" data-toggle="collapse" data-target="#filter-myworks-months" class="collapse filter-years"><div class ="filter-year" btn btn-default>2017</div>
                            </div>
                                 <div id="filter-myworks-months"  class="collapse">
                                     <ul class="list-filter-month">
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox" onclick="getFiltersCount()">
                                                April
                                            </label></li>
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox">
                                                March
                                            </label></li>
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox">
                                                February
                                            </label></li>
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox">
                                                January
                                            </label></li>
                                     </ul>
<!--                                     <div class="apply-months-filter">Filter</div>-->
                                 </div>
                                                   <div data-toggle="collapse" data-target="#filter-category" class="subtitle filter-categories" href="#filter-category">Category </div>
                                        <div class="collapse filter-category" id="filter-category">
                                            <ul class="list-filter-category">
                                            <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-bartender">
                                                Bartender
                                                </label></li>
                                           <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-waitress" class="filter-category">
                                                Waitress
                                               </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-DJ" class="filter-category">
                                                DJ
                                                </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-security" class="filter-category">
                                                Security Agent
                                                </label></li>
                                            </ul>
                                           
                                        </div>
                                            <div data-toggle="collapse" data-target="#filter-location" class="subtitle filter-categories" href="#filter-location">Location</div>
                                        <div class="collapse filter-location" id="filter-location">
                                            <ul class="list-filter-category">
                                            <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-bartender">
                                                New York
                                                </label></li>
                                           <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-waitress" class="filter-category">
                                                Paris
                                               </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-DJ" class="filter-category">
                                                London
                                                </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-security" class="filter-category">
                                               Boston
                                                </label></li>
                                            </ul>
                                           
                                        </div>

                                </div>
								</div>
                                </div>
                        
      <div class="col-md-10">
<div id="exTab2">	
<ul class="nav nav-tabs">
			<li class="active">
        <a ui-sref="app.currentjobs" data-toggle="tab">Current</a>
			</li>
			<li><a ui-sref="app.pendingjobs" data-toggle="tab">Pending</a>
			</li>
			<li><a ui-sref="app.historyjobs" data-toggle="tab">History</a>
			</li>
		</ul>

  </div>

      <table id="my-works-table" class="table table-hover"   >
                             <thead>
                                 <tr>
                                     <th>Contract</th>
                                     <th>Name</th>
                                     
                                     <th>Start Date</th>
                                     <th>End Date</th>
                                     <th>Location</th>
                                     <tr>
        
                                 </tr>
                             </thead>
							<tbody>
							<tr ng-repeat-start="a in appointments |  filter:{status:'1'}">
                                
						
                        <td>
                            <i class=" glyphicon glyphicon-chevron-up " ng-if="a.expanded" ng-click="a.expanded = false"></i>
							<i class=" glyphicon glyphicon-chevron-down"  ng-if="!a.expanded" ng-click="a.expanded = true"></i>
              			
						  {{a.contract_id}}
						</td>
		            	<td>{{a.first_name}} {{a.last_name}}</td>
					
			            <td>{{a.start_date}}</td>
                        <td>{{a.end_date}}</td>
						<td>{{a.location}}</td>
						
						<!--<td style="display:none;">{{a.month}}</td>-->
						</tr>

						 <tr  class="nohover" ng-if="a.expanded" ng-repeat-end="">
                         
                        <td colspan="4"> 
                            <div class="content">
                        <img class="sc_image" src="images/Marie.jpg" style="height:40%; width:35%;" / alt="" >
                         <h4>{{a.first_name}} {{a.last_name}} </h4>
                          <p> <strong>Title:</strong>{{a.title}}</p>
                          <p><strong>Phone:</strong>{{a.phone}}</p>
                           <p><strong>Email:</strong>{{a.Email}}</p>
                          <p><strong>Hourly rate:</strong> {{a.wage}}</p>
                          <p><strong>Working Hours:</strong></p>
                        
                        <!-- <p><i class="glyphicon glyphicon-envelope"></i> <button id="myBtn{{a.contract_id}}" ng-click="testClick(a.contract_id)"> <i class="  glyphicon glyphicon-pencil"></i></button></p>-->
                       
                        </div>​
                        
                        </td>
                        <td style="vertical-align: middle;">
                            <!--<md-button class="md-primary md-raised" ng-click="showAlert($event)">
      Alert Dialog
    </md-button>-->

                      <a ui-sref="app.messagesPage" ><button class="btn btn-info btn-sm btn-block"><i class="glyphicon glyphicon-envelope"></i> Send</button></a>
                        </td>
                        
                           
            			<!--<button id="myBtn(a.status)" ng-click="modalDisp(a.first_name)" data-toggle="modal" data-target="#myModal">Open Modal</button></td>-->
         				 
                          
                           
                          </tr>
							</tbody>
                                
                     </table>
<!--Modal-->
	</div>
			</div>




   



  <div class="modal fade" id="myModal" >
    <div class="modal-dialog">
 		<div class="modal-content">
        	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
          		<h4 class="modal-title">Modal Header</h4>
			</div>
			 <div class="modal-body">
      		{{currentSelected}}
			 <button id="myBtn{{a.contract_id}}" ng-click="testClick(a.contract_id)"> Finish</button>
		   
		 		<button id="showContract">Create a new contract</button>
				  <div id="newContract" style="display: none;">
					  	 <hr>
					<div class="form-group">
						<label for="time">Time: </label>
						<div class='input-group date' id='datetimepicker'>
						<input name="time" type='text' class="form-control" ng-model="time" id="time" required ng-pattern="/\d{2}/\d{2}/\d{4} \d{2}:\d{2}/" ng-blur="updateTime()"/>
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
					       </span>
						</div>							
					</div>
					<div class="form-group">
						<label for="time">Time: </label>
						<div class='input-group date' id='datetimepicker1'>
						<input name="time" type='text' class="form-control" ng-model="time" id="time1" required ng-pattern="/\d{2}/\d{2}/\d{4} \d{2}:\d{2}/" ng-blur="updateTime()"/>
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>							
					</div>

		        </div>
			 </div>
			 <div id="Divrating" style="display: none;">
				<h3>Please Rate Your Exaprience</h3>
		 		

			</div>
  		</div>
	</div>


	<!-- End Modal-->


</div>
	 
<script>
  
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
/*btn.onclick = function() {
    modal.style.display = "block";
}*/

$(document).ready(function(){
		$('#datetimepicker').datetimepicker({
			format: 'MM/DD/YYYY',
		});
		$('#datetimepicker1').datetimepicker({
			format: 'MM/DD/YYYY',
		});
	});


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</div>





