<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->


      <nav class="navbar navbar-fixed-top">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navigation">
          &#9776;
          </button>
          <a class="navbar-brand float-xs-right float-sm-left" href="#" style="font-size: 23px;font-weight:500;color: white;">My Works</a>
          <div class="collapse navbar-toggleable-xs" id="navigation">
          <ul class="nav navbar-nav  action-buttons float-sm-right">
              <li class="nav-item nav-loginin-button">
                <a class="nav-link" ui-sref="login">LOG IN</a>
              </li>
              <li class="nav-item nav-sign-up-button">
                <a class="nav-link" ui-sref="register">SIGN UP</a>
              </li>
              </ul>
          </div>
      </nav>

      <div class="video-container">
        <video id="videoblock" autoplay loop >
         <source src="../images/video.mp4" frameborder="0" />
        </video>
      </div>


      <!-- HEADER -->
      <section id="header">

             <div  class="container section1">


<!--                 <div class="row wow swing" data-wow-delay="2s">-->

                      <div class="col-md-12 text-xs-center">
                            <h1 class="section-header-title"> WORK HAS NEVER BEEN SO EASY</h1>
                            <p class="subheadline" style="font-size:20px; font-family:pp-sans-big-medium, Helvetica Neue, Arial, sans-serif;"> Explore new ways to work with My Works.</p>
                            <a ui-sref="login" class="btn btn-primary loginnow-btn">LOG IN NOW</a>
                      </div>
          </div>

    </section>

      <!-- END HEADER -->

       <!-- SOCIAL-->


      <secion id="how-to-use-my-works">
      <div class="container">
          <div class="row">

          <div class="col-md-12">
 <div id="how-it-works-carousel" class="how-it-works carousel" data-interval="false">

<div class="how-it-works-title">How My Works works</div>

<!--<div class="instructions">-->
       <div class="row">
<div class="stepbystep">
 
     <div class="col-md-4">
<div class="active" data-target="#how-it-works-carousel" data-slide-to="0">
<div class="process-step">
<div class="stepnumber" ><div class="number">1</div></div>
<div class="steptext">
<div class="stepLabel">Sign Up</div>
<p>Create an account with your business information.</p>
</div>

</div>
      </div>   

    </div>

     <div class="col-md-4">
    <div data-target="#how-it-works-carousel" data-slide-to="1">
<div class="process-step">
<div class="stepnumber"><div class="number">2</div></div>
<div class="steptext">
<div class="stepLabel">Find a worker</div>
<p>Browse in a list of available workers and find the right person.</p>
</div>
</div>
    </div>
</div>


     <div class="col-md-4">
<div data-target="#how-it-works-carousel" data-slide-to="2">
<div class="process-step">
<div class="stepnumber"><div class="number">3</div></div>
<div class="steptext">
<div class="stepLabel">Send a job offer</div>
<p>Send a job request for the days you need help.</p>
</div>
</div>
</div>
</div>
</div>
<!--</div> -->
</div>  
              </div>
               <div class="col-md-12">
                   <div class="screenshot-how-to-get-started-step active">
                       <img src="images/ScreenShot-signuppage-employer.png" data-src="" alt="Sign up page">
                   </div>
                   <div class="screenshot-how-to-get-started-step">
                       <img src="" data-src="" alt="Sign up page">
                   </div>
                   <div class="screenshot-how-to-get-started-step">
                       <img src="" data-src="" alt="Sign up page">
                   </div>
               </div>
          </div>
          </div>
          </div>
      </secion>
      <!-- END SOCIAL-->

      <!--WHY-->

      <section id="why">
      <div class="container text-xs-center">
          <div class="row">
          <div class="col-md-12 wow fadeIn">
              <h2> Why work with us?</h2>
              <hr width="30%">
              <p>Because it has never been easier to find the right person to work with.</p>
              <div class="row">
              <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                  <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
                  <h3>Customer Satisfaction</h3>
                  <p>Nam lacinia egestas condimentum. Suspendisse suscipit mattis maximus. Mauris lorem turpis, ullamcorper vitae fringilla a, malesuada sed sem.</p>
               </div>

                  <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
                  <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
                  <h3>Instant Result</h3>
                  <p>Nam lacinia egestas condimentum. Suspendisse suscipit mattis maximus. Mauris lorem turpis, ullamcorper vitae fringilla a, malesuada sed sem.</p>
               </div>

                  <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                  <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                  <h3>Award Winning Service</h3>
                  <p>Nam lacinia egestas condimentum. Suspendisse suscipit mattis maximus. Mauris lorem turpis, ullamcorper vitae fringilla a, malesuada sed sem.</p>
               </div>

              </div>
              <div class="row">
                <div class="col-md-12 wow fadeInRight" data-wow-delay="0.5s" data-row-duration="1s">
                    <button type="button" class="btn btn-aboutus">Find out more</button>

         </div>
              </div>
            </div>
          </div>

      </div>
      </section>

      <!--END WHY-->

      <!--CUSTOMERS-->
      <section id="customers">
      <div class="container text-xs-center wow fadeInUp" data-wow-delay="0.2s">
      <div class="row">
          <div class="col-md-12">
              <h2>Reviews</h2>
              <hr width="30%">
              <p>Here is what our customers think about us.</p>

              <div class="row">
              <div class="col-md-12">
                  <div id="customer reviews" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                      <li data-target="#cutomer reviews" data-slide-to="0" class="active"></li>
                    <li data-target="#cutomer reviews" data-slide-to="1"></li>
                    <li data-target="#cutomer reviews" data-slide-to="1"></li>
                      </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    </div>

    <div class="carousel-item">
              <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    </div>

    <div class="carousel-item">
              <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
          <blockquote class="blockquote col-md-4">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
    </div>

  </div>
  <a class="carousel-control-prev" href="#customer reviews" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#customer reviews" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

              </div>
              </div>

          </div>

          </div>
      </div>
      </section>

      <!--END CUSTOMERS-->

       <!--PRICING-->
<!--
      <section id="pricing">
      <div class="container text-xs-center">
          <div class="row">
          <div class="col-md-12">
              <h2>Pricing</h2>
              <hr width="30%">
              <p>Pricing structure</p>

         </div>

              <div class="row">
              <div class="col-md-4">
                  <div class="card">
                  <div class="card-header">BASIC</div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><strong>10</strong> job postings</li>
                          <li class="list-group-item"><strong>$0</strong> /month</li>
                          <li class="list-group-item"><strong>Email</strong> support</li>
                      </ul>
                      <div class="card-block">
                      <button type="button" class="btn btn-outline-info btn-block">SIGN UP</button>
                      </div>
                  </div>

              </div>
                  <div class="col-md-4">
                  <div class="card">
                  <div class="card-header standard">STANDARD</div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><strong>50</strong> job postings</li>
                          <li class="list-group-item"><strong>$0</strong> /month</li>
                          <li class="list-group-item"><strong>Call</strong> support</li>
                      </ul>
                      <div class="card-block">
                      <button type="button" class="btn btn-outline-info btn-block">SIGN UP</button>
                      </div>
                  </div>

              </div>
                  <div class="col-md-4">
                  <div class="card">
                  <div class="card-header">PRO</div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><strong>Unlimited</strong> job postings</li>
                          <li class="list-group-item"><strong>$0</strong> /month</li>
                          <li class="list-group-item"><strong>24/7</strong> support</li>
                      </ul>
                      <div class="card-block">
                      <button type="button" class="btn btn-outline-info btn-block">SIGN UP</button>
                      </div>
                  </div>

              </div>
              </div>
          </div>

      </div>
      </section>-->

       <!--END PRICING-->

       <!--CONTACT-->
<!--
      <section id="contact">
      <div class="container text-xs-center wow zoomIn" data-wow-delay="0.3s">
          <div class="row">
              <div class="col-md-12">
                  <h2>Contact Us</h2>
                  <hr width="30%">
                  <p> Is there something you need to share with us?</p>

              </div>

          </div>
          <div class="row">
          <div class="col-md-12">
              <form>
              <div class="col-md-6">
                  <fieldset class="form-group">
                  <input type="email" class="form-control form-control-sm" id="email" placeholder="Email">
                  </fieldset>
                  <fieldset class="form-group">
                  <input type="text" class="form-control form-control-sm" id="name" placeholder="Name">
                  </fieldset>

                  </div>
                  <div class="col-md-6">
                  <fieldset class="form-group">
                      <textarea class="form-control form-control-sm" id="message" placeholder="Message" rows="3">
                      </textarea>
                      </fieldset>

                  </div>

                   <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-info btn-bloc">Submit</button>

         </div>
              </div>

              </form>
              </div>
          </div>

          </div>
      </section>-->

       <!--END CONTACT-->

       <!--FOOTER-->
      <section id="footer">
      <div class="container text-md-center">
          <div class="row">
          <div class = "col-md-12 col-sm-6">
             <ul class="list-align" style="padding-left:0px;">
                  <li class="list-inline-item social-media-icons"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item social-media-icons"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="list-inline-item social-media-icons"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
              <!--<div class="footer-divider"></div>-->
              <hr style="background-color:white;"/>
              </div>
          </div>
          <div class="row">
          <div class="col-md-8 text-left">
              <ul class="list-footer-element" style="padding-left:0px">
                  <li class="footer-link" style="padding-left:0px"><a href="#">Help</a></li>
                  <li class="footer-link"><a href="#">About us</a></li>
                  <li class="footer-link"><a href="#">Careers</a></li>
                  <li class="footer-link"><a href="#">Press</a></li>
              </ul>
              </div>
              <div class="col-md-4 text-right">
              <ul class="list-footer-element">
                  <li class="footer-link"><a href="#">&copy; 2017 My Works Inc</a></li>
                  <li class="footer-link"><a href="#">Privacy</a></li>
                  <li class="footer-link"><a href="#">Legal</a></li>
              </ul>
              </div>
          </div>
        </div>
      </section>

       <!--END FOOTER-->






