
	
	<link rel="stylesheet" href="/styles/MessagesStyles.css">
	<script src="/scripts/MessagesJS.js"></script>
	<main id="messagesPage">
		<div id="left-panel" class="container">
			<h3 style="flex: 0 0 auto">Messages</h3>
			<div class="input-group" id="search-contacts" style="flex: 0 0 auto">
				<input type="text" class="form-control" id="searchTF">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			</div>
			<div id="contacts" style="flex: 1 1 auto">
				<hr>
				<div id="contact-list">
				</div>
			</div>
			<span onClick="deleteContact()" class="glyphicon glyphicon-trash" style="flex: 0 0 auto" />
		</div>
		<div id="rightPanel">
			<div id="top-panel"></div>
			<div id="bottom-panel"></div>
			<div id="send-panel">
				<input type="text" id="sendMessageTF" class="form-control" placeholder='Write your messege here ..'>
				<button class="btn btn-primary" id="sendBtn" type="button">Send</button>
			</div>
		</div>
	</main>

