
<script src="scripts/JavaScript.js"></script>
  	<script type="application/javascript">
		var account = demoAccount();
		var filteredContacts = account.contacts.contacts;
		var selectedContact = filteredContacts[0];
		var selectedContactIndex = 0;
		var aBook = account.contacts;
		
		var selectedContact2 = filteredContacts[0];
		var selectedContactIndex2 = 0;
		
	</script>


	

	<div id="left-panel" class="col-sm-3 container" style="background-color: rgba(0,0,0,0.05)">
		<h3>Messagesss</h3>
		<div class="input-group" id="search-contacts">
			<input type="text" class="form-control" id="searchTF">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		</div>
		<div id="contacts">
			<hr>
			<div id="contact-list">
			</div>
			<span onClick="deleteContact()" class="glyphicon glyphicon-trash" style="float: right; padding: 10px 30px 10px 0; color: dimgrey; font-size: 120%" />
		</div>
	</div>
	<div id="right-panel" class="col-sm-8">
		<div id="top-panel">
	  </div>
		<div id="bottom-panel">
		</div>
		<div id="send-panel">
			<input type="text" class="form-control" id="sendMessageTF" style="margin-top:10px; width:50%">
			<button id="sendBtn" class="btn btn-primary" type="button" style=" margin-top:10px">Send</button>
		</div>
	</div>




