<style>
	.table thead tr th, .table tbody tr td {
    font-size: 12px;
}
	</style>
<script src="Javascript/payment.js"></script>
<link rel="stylesheet" href="Style/tablesFormat.css">



						<div class="col-md-8 col-xs-offset-2">
<div id="exTab2">	
<ul class="nav nav-tabs">
			<li class="active">
        <a ui-sref="app.paymentHistory" data-toggle="tab">Payment History</a>
			</li>
			<li><a ui-sref="app.payment" data-toggle="tab">Payment Method</a>
			</li>
			
		</ul>

  </div>


          <table id="my-works-table" class="table well">
                             <thead>
                                 <tr>
                                   <th>Invoice no.</th>
		            				<th>Date</th>
		            				<th>Payment Status</th>
		            				<th>Amount</th>
									 <th><th>   
                                 </tr>
                             </thead>
							<tbody>
								<td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
						 	<tr>
						<td>12232323</td>
		            	<td>Nov 30, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        	<tr>
						<td>1225455</td>
		            	<td>Dec 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
                        <td>1223223</td>
		            	<td>Nov 23, 2016</td>
			            <td>Paid</td>
						<td>$200</td>
						<td><a href="javascript:void(0)" id="dlbtn"><button class="btn btn-info btn-sm btn-block">Download PDF</button></a></td>
						</tr>
							</tbody>
          </table>



  </div>















