<script src="scripts/JavaScript.js"></script>

<style>
  h3{
    margin-top:5%;
  }
#exTab2{
   border-bottom: 50px solid  #454545;
}
   input[type="text"]:valid {
    color: green;
}

input[type="text"]:valid ~ .input-validation::before {
    content: "✓";
    color: green;
}

input[type="text"]:invalid {
    color: red;
}
  input[type="text"]:valid {
    background: url(thumb-up.png) no-repeat top right;
    display:inline;
    
}

select{
  height: 30px;
  width:40%;
 
  border: 1px solid lightgrey;
  border-radius: 4px;

}
  </style>

<script>

function getCreditcard()
{
   var input =  $("#textbox_id").val();
   var code= $("#credit_card_postal_code").val();
   var cvv=$("#cvv").val();
   var post=new RegExp("[0-9]{4,6}");
   
    var re = new RegExp( "[0-9]{13,16}");
    var cvvre=new RegExp("[0-9]{3}")
    if (re.test(input) && post.test(code)&& cvvre.test(cvv)){
    var lastFive = input.substr(input.length - 4);
  document.getElementById("lastFour").innerHTML = lastFive;
  $('input[type="text"], textarea').val('');
    }


}


  $(document).ready(function () {




$("input").on("change", function(){
   if($('input[name=payment_method]:checked').val() == "paypal"){
       $(".creditCard").css("display","none");
       $(".PayPal").css("display","block");
   }
   else{
       $(".creditCard").css("display","block");
        $(".PayPal").css("display","none");
   }
});



});


</script>


						<div class="col-md-8 col-xs-offset-2">
<div id="exTab2">	
<ul class="nav nav-tabs">
			<li >
         <a ui-sref="app.paymentHistory" data-toggle="tab">Payment History</a>
			</li>
			<li class="active"><a ui-sref="app.payment" data-toggle="tab">Payment Method</a>
			</li>
			
		</ul>

  </div>
						
             
<form type="post" class="well">
<h3>
    Payment Method
</h3>
<p>Your current payment method is Credit Card ending with <strong><snap id="lastFour"> 0000 </snap></strong> 
          </p>
<br>

<fieldset class="row">
            <div class="col-sm-4">
              <label id="paymentType" >Payment Type</label>
            </div>

             <div class="col-sm-6 paymentCol">
              <ul class="paymentOption">
                <li>
                  
                    <input type="radio" name="payment_method" id="payment_method_credit_card" value="credit_card" class="input-radio input-radio placeholder-processed" checked="checked">
                    Debit or Credit Card
                             
                     </li>
                      <li>
                
                    <input type="radio"  onclick="ClearFields()" name="payment_method" id="payment_method_paypal" value="paypal" class="input-radio input-radio placeholder-processed">
                    PayPal
                
                  </li>
              </ul>
            </div>
</fieldset>

          <hr>
          </br>
          <div class="creditCard">
        <fieldset class="row">
            <div class="col-sm-4">
              <label>Card Number</label>
            </div>
             <div class="col-sm-6 paymentCol">
            <div class="form-item">
               
          <div>
           <input  type="text" id="textbox_id" name="credit_card_number"  pattern="[0-9]{13,16}" required style="float:left; width: 200px">
         <div class="input-validation" style="float:right"></div>
       </div>


            
             
           
            </div>  
          </div>
       </fieldset>
          <hr>
        </br>
        <fieldset class="row" style="display: block;">
           <div class="col-sm-4">
              
              <label>Security Code (CVV)</label>
            </div>
           <div class="col-sm-6 paymentCol">
            <div class="form-item form-item-short">
          <div>
             
         <input type="text" name="credit_card_cvv" id="cvv"  style="width: 100px" pattern="[0-9]{3}" required style="float:left">
         <div class="input-validation" style="float:right"></div>
       </div>



            
                 
          </div> 
           </div>
        </fieldset>

          <hr>
          </br>
          <fieldset class="row" style="display: block;">
            <div class="col-sm-4">
              <label>Expiration Date</label>
            </div>
              <div class="col-sm-6 paymentCol">
              <div>
              <div  style= "display:inline;">
                 <select class="btn-group bootstrap-select">
                <option value="1">1 - January</option>
                <option value="2">2 - February</option>
                <option value="3">3 - March</option>
                <option value="4">4 - April</option>
                <option value="5">5 - May</option>
                <option value="6">6 - June</option>
                <option value="7">7 - July</option>
                <option value="8">8 - August</option>
                <option value="9">9 - September</option>
                <option value="10">10 - October</option>
                <option value="11">11 - November</option>
                <option value="12">12 - December</option>
                </select>
                </div>
                
              <div  style="display:inline;">
              <select class="selectpicker" data-style="btn-info">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
                <option value="2036">2036</option>
                <option value="2037">2037</option>
                </select>
                </div>
            </div>  

               <!-- input type="hidden" name="credit_card[payment_method_nonce]" -->
            </div>
          </fieldset>

          <hr>
          </br>
      <fieldset class="row" style="display: block;"> 
                <div class="col-sm-4">
              <label>Billing Postal Code</label>  
            </div>
                <div class="col-sm-6 paymentCol">
              <div class="form-item">
              
             
                <div>
           <input class="form-text-input input-text numerical input-text placeholder-processed" type="text" name="credit_card[postal_code]" 
              id="credit_card_postal_code" pattern="[0-9]{4,6}"  required style="float:left">
         <div class="input-validation" style="float:right"></div>
       </div>
            
            </div>   
              </div>
          </fieldset>
          <hr>
          </br>
             <div class="form-footer">
               <button id="payButton" type="submit" class=" btn  btn-info payment" onclick="getCreditcard(); return false;" >Save changes</button>

          </div>
          </div>
          

         
          <div class="PayPal" style="display:none">
    <div class="form-footer">
           <a href="https://www.paypal.com/signin?returnUri=http%3A%2F%2Furi.paypal.com%2FWeb%2FWeb%2Fcgi-bin%2Fwebscr%3Fvia%3Dul&state=%3fcmd%3d_account" target="_blank"> <button type="button" class="btn btn-info"  type="submit">Continue with PayPal</button></a>
          </div>
            </div>
     
    </form>
  </div>