<style>

 .content {
    overflow: hidden;
}
.nohover:hover{
   

      background-color: white !important;


}
td{
    padding:0;
}
.content img {
   
    float: left;
}
.table thead tr th, .table tbody tr td {
    font-size: 14px;
}

</style>
<script>
$('#my-works-table').DataTable( {
    responsive: true
} );
    </script>
 <div class="row">
 <div class="col-md-3">

                             <div class="filter">
<!--                                    <div class="block-title">-->

<!--                                         <div class="col-md-2">-->
                        <div data-toggle="collapse" data-target="#filter-myworks" class="my-works-filter-title"><i class="fa fa-filter" aria-hidden="true"></i> Filter workers by <div id="clear-all">Clear all (<span id="count-filters">0</span>)</div>  </div> 
                                
                             <div id="filter-myworks" class="collapse in">
                             <div data-toggle="collapse" data-target="#filter-myworks-years" class="subtitle filter-categories">Date </div>
                                 <div id="filter-myworks-years" data-toggle="collapse" data-target="#filter-myworks-months" class="collapse filter-years"><div class ="filter-year" btn btn-default>2017</div>
                            </div>
                                 <div id="filter-myworks-months"  class="collapse">
                                     <ul class="list-filter-month">
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox" onclick="getFiltersCount()">
                                                April
                                            </label></li>
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox">
                                                March
                                            </label></li>
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox">
                                                February
                                            </label></li>
                                     <li class ="filter-month"> <label>
                                                <input type="checkbox">
                                                January
                                            </label></li>
                                     </ul>
<!--                                     <div class="apply-months-filter">Filter</div>-->
                                 </div>
                                                   <div data-toggle="collapse" data-target="#filter-category" class="subtitle filter-categories" href="#filter-category">Category </div>
                                        <div class="collapse filter-category" id="filter-category">
                                            <ul class="list-filter-category">
                                            <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-bartender">
                                                Bartender
                                                </label></li>
                                           <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-waitress" class="filter-category">
                                                Waitress
                                               </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-DJ" class="filter-category">
                                                DJ
                                                </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-security" class="filter-category">
                                                Security Agent
                                                </label></li>
                                            </ul>
                                           
                                        </div>
                                            <div data-toggle="collapse" data-target="#filter-location" class="subtitle filter-categories" href="#filter-location">Location</div>
                                        <div class="collapse filter-location" id="filter-location">
                                            <ul class="list-filter-category">
                                            <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-bartender">
                                                New York
                                                </label></li>
                                           <li class ="filter-cat"> <label>
                                                <input type="checkbox" name="filterCat-waitress" class="filter-category">
                                                Paris
                                               </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-DJ" class="filter-category">
                                                London
                                                </label></li>
                                            <li class ="filter-cat"><label>
                                                <input type="checkbox" name="filterCat-security" class="filter-category">
                                               Boston
                                                </label></li>
                                            </ul>
                                           
                                        </div>

                                </div>
								</div>
                                </div>
                        
      <div class="col-md-8">
<div id="exTab2">	
<ul class="nav nav-tabs">
			<li>
        <a ui-sref="app.currentjobs" data-toggle="tab">Current</a>
			</li>
			<li class="active"><a ui-sref="app.pendingjobs" data-toggle="tab">Pending</a>
			</li>
			<li><a ui-sref="app.historyjobs" data-toggle="tab">History</a>
			</li>
		</ul>

  </div>
         <table id="my-works-table" class="table table-hover">
                             <thead>
                                 <tr>
                                     <th>Contract</th>
                                     <th>Name</th>
                                     
                                     <th>Start Date</th>
                                     <th>End Date</th>
                                     <th>Location</th>
                                 </tr>
                             </thead>
							<tbody>
							<tr ng-repeat-start="a in appointments |  filter:{status:'2'} ">
						<td>
                            <i class=" glyphicon glyphicon-chevron-up " ng-if="a.expanded" ng-click="a.expanded = false"></i>
							<i class=" glyphicon glyphicon-chevron-down"  ng-if="!a.expanded" ng-click="a.expanded = true"></i>
              			
						  {{a.contract_id}}
						</td>
		            	<td>{{a.first_name}} {{a.last_name}}</td>
					
			            <td>{{a.start_date}}</td>
                        <td>{{a.end_date}}</td>
						<td>{{a.location}}</td>
						
						<!--<td style="display:none;">{{a.month}}</td>-->
						</tr>

							 <tr  class="nohover" ng-if="a.expanded" ng-repeat-end="">
                         
                        <td colspan="4"> 
                            <div class="content">
                        <img class="sc_image" src="images/Marie.jpg" style="height:40%; width:35%;" / alt="" >
                         <h4>{{a.first_name}} {{a.last_name}} </h4>
                          <p> <strong>Title:</strong>{{a.title}}</p>
                          <p><strong>Phone:</strong>{{a.phone}}</p>
                           <p><strong>Email:</strong>{{a.Email}}</p>
                         
                        
                        <!-- <p><i class="glyphicon glyphicon-envelope"></i> <button id="myBtn{{a.contract_id}}" ng-click="testClick(a.contract_id)"> <i class="  glyphicon glyphicon-pencil"></i></button></p>-->
                       
                        </div>​
                        
                        </td>
                        <td style="vertical-align: middle;"><button class="btn btn-info  btn-sm btn-block" id="myBtn(a.status)" ng-click="modalDisp(a.first_name)" data-toggle="modal" data-target="#myModal"><i class="  glyphicon glyphicon-pencil"></i>Actions</button><br><br>
                     
                        </td>
                        
                           
            			<!--<button id="myBtn(a.status)" ng-click="modalDisp(a.first_name)" data-toggle="modal" data-target="#myModal">Open Modal</button></td>-->
         				 
                          
                           
                          </tr>
							</tbody>
                                
                     </table>
     	</div>




         
         </div>