<nav class="navbar navbar-fixed-top">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navigation">
    &#9776;
    </button>
    <a class="navbar-brand float-xs-right float-sm-left" href="#" style="font-size: 23px;font-weight:500;color: white;">My Works</a>
    <div class="collapse navbar-toggleable-xs" id="navigation">
    <ul class="nav navbar-nav  action-buttons float-sm-right">
        <li class="nav-item nav-loginin-button">
          <a class="nav-link" ui-sref="login">LOG IN</a>
        </li>
        </ul>
    </div>
</nav>
<form name="myForm" ng-submit="myForm.$valid && step1($event, myForm)" novalidate>
<div class="main-register-content">
  <div class="container2">


  <div class="stepwizard col-md-offset-1">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" class="btn btn-primary btn-circle" ng-class="{'disabled': currentSection <= 1, 'btn-primary': currentSection ==1, 'btn-default': currentSection !=1 }">1</a>
          <p>Account</p>
        </div>
        <div ng-switch on="user_role" class="stepwizard-step">
          <a href="#step-2" class="btn btn-default btn-circle" ng-class="{'disabled': currentSection <= 2, 'btn-primary': currentSection ==2, 'btn-default': currentSection !=2}">2</a>
          <p ng-switch-default>Profile</p>
          <p ng-switch-when="employer">Your Business</p>
        </div>
        <div class="stepwizard-step" ng-show="user_role=='worker'">
          <a href="#step-3"  class="btn btn-default btn-circle" ng-class="{'disabled': currentSection <= 3, 'btn-primary': currentSection ==3, 'btn-default': currentSection !=3 }">3</a>
          <p>Experience</p>
        </div>
         <div class="stepwizard-step" ng-show="user_role=='worker'">
          <a href="#step-4"  class="btn btn-default btn-circle" ng-class="{'disabled': currentSection <= 4, 'btn-primary': currentSection ==4, 'btn-default': currentSection !=4 }">4</a>
          <p>Schedule</p>
        </div>
       <div ng-switch on="user_role" class="stepwizard-step">
          <a ng-switch-default href="#step-5"  class="btn btn-default btn-circle" ng-class="{'disabled': currentSection <= 5, 'btn-primary': currentSection ==5, 'btn-default': currentSection !=5 }">5</a>
          <a ng-switch-when="employer" href="#step-5"  class="btn btn-default btn-circle" ng-class="{'disabled': currentSection <= 3 , 'btn-primary': currentSection ==3, 'btn-default': currentSection !=3 }">3</a>
          <p>Payment</p>
        </div>
      </div>
    </div>
   

   <div ng-show="currentSection==1" class="row setup-content">
         
          <div class="col-md-12 text-center">
            <div style="color:white; padding-bottom:25px;">Please start by choosing your account type:</div>
              <div class="container text-xs-center"  style="padding-left:0px; padding-right:0px;">

          <div class="col-md-6 " ng-click="select_type('worker')">
              <div class="signup-option-box">
                <div style="text-align:center;"> <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" style="margin-top:25px;  padding-right:0px; padding-bottom:0px;"></i></div>
              <h6 class="role-signup-title">Worker</h6>
               <p class="complete-signup-title">Complete your profile and register as an auto-entrepreneur and find jobs</p>
        </div>
             </div>  
         
          
           <!--<div class="container text-xs-center"  style="padding-left:0px; padding-right:0px;">-->
          <div class="col-md-6 " ng-click="select_type('employer')">
                <div class="signup-option-box">
                 <div style="text-align:center;"> <i class="fa fa-building-o fa-2x" aria-hidden="true" style="margin-top:25px;  padding-right:0px; padding-bottom:0px;"></i></div>
                 <div> <h6 class="role-signup-title">Employer</h6></div>
               <p class="complete-signup-title">Complete your profile and get connected with many job seekers</p>
                 </div>
              </div>
          <!--</div>-->
 </div>

 
   <div class="col-md-12" style="margin-left:65px;">


  <div ng-show="user_role=='employer'" class="form-group" ng-class="{'has-error':((myForm.companyName.$error.minlength || myForm.companyName.$error.required)  && !myForm.companyName.$pristine) }">
         <input maxlength="25" name="companyName"  type="text" ng-model="companyName" required="required" class="form-control login-signup-form-field" placeholder="Company Name">
         <div class="submit-messages" ng-if="((myForm.companyName.$error.minlength || myForm.companyName.$error.required)  && !myForm.companyName.$pristine)" ng-messages="myForm.companyName.$error"  role="alert">
             <div ng-if="myForm.companyName.$error.required">Enter your company name</div>
         </div>
      </div>

  <div ng-show="user_role=='employer'" class="form-group" ng-class="{'has-error':((myForm.siretNumber.$error.minlength || myForm.siretNumber.$error.required) && !myForm.siretNumber.$pristine) }">
         <input maxlength="14" minlength="14" name="siretNumber" type="text" ng-model="siretNumber" required="required" class="form-control login-signup-form-field" placeholder="Siret Number">
         <div class="submit-messages" ng-if="((myForm.siretNumber.$error.minlength || myForm.siretNumber.$error.required) && !myForm.siretNumber.$pristine)" ng-messages="myForm.siretNumber.$error"  role="alert">
             <div ng-if="myForm.siretNumber.$error.required">Enter your company siret number</div>
             <div ng-if="myForm.siretNumber.$error.minlength">A siret number has 14 numbers</div>
         </div>
      </div>

      <div class="form-group"  ng-class="{'has-error':(myForm.userEmail.$error.minlength || myForm.userEmail.$error.required || myForm.userEmail.$error.myForm ) && !myForm.userEmail.$pristine }" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
         <input name="userEmail" type="email" ng-model="userEmail" required="required" class="form-control login-signup-form-field" placeholder="Email">
         <div class="submit-messages" ng-if="(myForm.userEmail.$error.minlength || myForm.userEmail.$error.required || myForm.userEmail.$error.email) && !myForm.userEmail.$pristine" ng-messages="myForm.userEmail.$error"  role="alert">
            <div ng-if="myForm.userEmail.$error.required">Enter your email</div>
            <div ng-if="myForm.userEmail.$error.email">Make sure your email address is correct</div>
         </div>
    </div>
      <div class="form-group" ng-class="{'has-error':(myForm.password.$error.minlength || myForm.password.$error.required) && !myForm.password.$pristine }">
         <input name="password" ng-minlength="6" type="password" ng-model="password" required="required" class="form-control login-signup-form-field" placeholder="Passord">
         <div class="submit-messages" ng-if="(myForm.password.$error.minlength || myForm.password.$error.required) && !myForm.password.$pristine" ng-messages="myForm.password.$error"  role="alert">
            <div ng-show="myForm.password.$error.minlength">Too short</div>
            <div ng-if="myForm.userEmail.$error.minlength">Password must contains at least 6 characters</div>            
            <div ng-if="myForm.password.$error.required">Enter a password</div>
         </div>
      </div>
      <div class="form-group" ng-class="{'has-error':((myForm.confirmpassword.$error.minlength || myForm.confirmpassword.$error.required) && !myForm.confirmpassword.$pristine)}">
         <input name="confirmpassword" type="password" ng-model="confirmpassword" required="required" class="form-control login-signup-form-field" placeholder="Confirm password" pw-check="password">
         <div class="submit-messages" ng-if="((myForm.confirmpassword.$error.minlength || myForm.confirmpassword.$error.required) && !myForm.confirmpassword.$pristine)" ng-messages="myForm.confirmpassword.$error" role="alert">
            <!--<div ng-if="myForm.confirmpassword.$error.minlength">Too short</div>-->
            <div ng-if="myForm.confirmpassword.$error.required">Confirm your password</div>
              <div ng-if="myForm.confirmpassword.$error.pwmatch">Password does not match</div>
         </div>
      </div>
   </div>
   <button class="btn btn-primary nextBtn btn-lg pull-center" type="button" ng-click="navigateToNextSection(!(myForm.confirmpassword.$error.minlength || myForm.confirmpassword.$error.required || myForm.userEmail.$error.minlength || myForm.userEmail.$error.required || myForm.userEmail.$error.email || myForm.password.$error.minlength || myForm.password.$error.required))"
            ng-class="{'disabled': (myForm.confirmpassword.$error.minlength || myForm.confirmpassword.$error.required || myForm.userEmail.$error.minlength || myForm.userEmail.$error.required || myForm.userEmail.$error.email || myForm.password.$error.minlength || myForm.password.$error.required)} ">Next</button>
</div>
</div>


    

  <div ng-show="currentSection==2" class="row setup-content">

         <div class="col-md-12" style="margin-left:75px;">           

            <div class="form-group" ng-class="{'has-error':myForm.firstName.$error.required && !myForm.firstName.$pristine) }">
              <input  name="firstName" type="text" ng-model="firstName" required="required" class="form-control login-signup-form-field" placeholder="First Name">
               <div class="submit-messages" ng-if="((myForm.firstName.$error.minlength || myForm.firstName.$error.required)  && !myForm.firstName.$pristine)" ng-messages="myForm.firstName.$error" role="alert">
                <div ng-if="myForm.firstName.$error.required">Enter your first name</div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error':myForm.lastName.$error.required && !myForm.lastName.$pristine}">
              <input  name="lastName" type="text" ng-model="lastName" required="required" class="form-control login-signup-form-field" placeholder="Last Name">
               <div class="submit-messages" ng-if="!myForm.lastName.$pristine && (myForm.lastName.$error.minlength || myForm.lastName.$error.required)" ng-messages="myForm.lastName.$error" role="alert">       
                <div ng-if="myForm.lastName.$error.required">Enter your last name</div>
              </div>
            </div>

             <div class="form-group" ng-class="{'has-error':myForm.phoneNumber.$error.required && !myForm.phoneNumber.$pristine}">
              <input  name="phoneNumber" type="text" ng-model="phoneNumber" required="required" class="form-control login-signup-form-field" placeholder="Phone number"  ng-pattern="/^\d{10}$/">
               <div class="submit-messages" ng-maxlength="10" ng-minlength="10" ng-if="!myForm.phoneNumber.$pristine && (myForm.phoneNumber.$error.minlength || myForm.phoneNumber.$error.required)" ng-messages="myForm.phoneNumber.$error" role="alert">       
                <div ng-if="myForm.phoneNumber.$error.required">Enter your phone number</div>
                <div ng-if="myform.phoneNumber.$error.pattern"> Enter a valid phone number </div>
              </div>
            </div>

            <div ng-show="user_role=='worker'" class="input-group date" data-provide="datepicker">
                <input  name="birthDate" type="text" ng-model="birthDate" required="required" class="form-control login-signup-form-field">
              <md-datepicker ng-model="ctrl.myDate" md-current-view="year" md-placeholder="Birth date"></md-datepicker>
                 <!--<label class="form-input-label">
                    <input class="dob-input" type="text" name="dob"
                                               placeholder="Birth date"/>
                 </label>-->
            </div>

            <div ng-show="user_role=='worker'" class="gender-group">
             <div class ="select-gender">Select your gender</div>
             <div  class="radio-inline" style="text-align:center; padding-bottom: 10px;"> 
                                    <label class="radio-inline form-input-label-gender" style="padding-left:0;">
                                        <input type="radio" required checked="checked" name="gender" class="gender"
                                               value="female"> Female
                                    </label>
                                    <label class="radio-inline form-input-label-gender"> 
                                        <input type="radio" required name="gender" class="gender" value="male"> Male
                                    </label>
                                    <label class="radio-inline form-input-label-gender"> 
                                        <input type="radio" required name="gender" class="gender" value="transgender"> Transgender
                                    </label>
                                     <label class="radio-inline form-input-label-gender"> 
                                        <input type="radio" required name="gender" class="gender" value="other"> Other
                                    </label>
                                </div>
          </div>
          <div ng-show="user_role=='worker'" class="profilePicture">
              <div class="uploadpicture">Upload a picture profile</div>
          <div class="form-group">
            <img class="profile-pic-image">
              <label  for="file-upload" class="form-input-label custom-file-upload" style="display: inline-block; color: white;  font-size: 16px;"> Choose picture
                                  
                                    <input id="file-upload" type="file" required data-errmsg="Please upload your picture" name="profilePic" class="upload-profile-picture"
                                           onchange="previewFile();" style="margin-top:15px;">
                                </label>
                                
          </div>
          </div>
           <div class="form-group" ng-class="{'has-error': myForm.address.$error.required  && !myForm.address.$pristine }">
              <input name="address"  type="text" ng-model="address" required="required" class="form-control login-signup-form-field" placeholder="Address">
               <div class="submit-messages" ng-if="!myForm.address.$pristine  &&(myForm.address.$error.minlength || myForm.address.$error.required)" ng-messages="myForm.address.$error"  role="alert">       
                <div ng-if="myForm.address.$error.required">Enter your address</div>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':myForm.city.$error.minlength  && !myForm.city.$pristine }">
              <input name="city" type="text" ng-model="city" required="required" class="form-control login-signup-form-field" placeholder="City">
               <div class="submit-messages" ng-if="!myForm.city.$pristine && (myForm.city.$error.minlength || myForm.city.$error.required)" ng-messages="myForm.city.$error" role="alert">       
                <div ng-if="myForm.city.$error.required">Enter your city</div>
              </div>
            </div>
               
 <div class="form-group state-zipcode" ng-Class="{'has-error': myForm.state.$error.required  && !myForm.state.$pristine }">
              <input  name="state" type="text" ng-model="state" required="required" class="form-control login-signup-form-field" style="width:190px; margin-left:0px;"; placeholder="State">
               <div class="submit-messages" ng-if="!myForm.state.$pristine && (myForm.state.$error.minlength || myForm.state.$error.required)" ng-messages="myForm.state.$error"  role="alert">       
                <div ng-if="myForm.state.$error.required">Select your state</div>
              </div>
            </div>
          <div class="form-group state-zipcode" ng-Class="{'has-error':(myForm.zipcode.$error.minlength || myForm.zipcode.$error.required)  && !myForm.zipcode.$pristine }">
            <input maxlength="5" name="zipcode" ng-minlength="5" type="text" ng-model="zipcode" required="required" class="form-control login-signup-form-field" style="width:205px;" placeholder="Zip code">
            <div class="submit-messages" ng-if="!myForm.zipcode.$pristine && (myForm.zipcode.$error.minlength || myForm.zipcode.$error.required)" ng-messages="myForm.zipcode.$error"  role="alert">       
              <div ng-if="myForm.zipcode.$error.required">Enter your zip code</div>
              <div ng-if="myForm.zipcode.$error.minlength">Enter a valid zip code</div>
            </div>
        </div>
          </div>
          <div class="row">
                <div class="col-md-6"  style="padding-left:90px;"> 
                   <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" ng-click="navigateToPreviousSection()">Previous</button>
                </div> 
                <div class="col-md-6" style="padding-right:110px;">   
                   <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="navigateToNextSection(!(myForm.firstName.$error.required || myForm.lastName.$error.required  || myForm.address.$error.required || myForm.zipcode.$error.required || myForm.zipcode.$error.minlength  || myForm.state.$error.required || myForm.city.$error.required || myForm.phoneNumber.$error.required || myForm.phoneNumber.$error.minlength ))"
            ng-class="{'disabled': (myForm.firstName.$error.required || myForm.lastName.$error.required  || myForm.address.$error.required || myForm.zipcode.$error.required || myForm.zipcode.$error.minlength  || myForm.state.$error.required || myForm.city.$error.required || myForm.phoneNumber.$error.required || myForm.phoneNumber.$error.minlength  )}">Next</button>
                </div>
          </div>
            
    </div>

      <div ng-show="user_role=='worker' && currentSection==3" class="row setup-content">

         <div class="col-md-12" style="margin-left:75px;">

             <div class="signup-form">
                                <label class="form-input-label category-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Category<span style="color: red;">*</span>: </span>
                                    <select required data-errmsg="Please select a category" name="category"
                                            onchange="if (this.value != '') $('.yoe-input').show();">
                                        <option value="">-Select-</option>
                                        <option>Bartender</option>
                                        <option>Waitress</option>
                                        <option>DJ</option>
                                        <option>Security Agent</option>
                                    </select>
                                </label>
                                <label class="form-input-label yoe-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Level of Experience<span style="color: red;">*</span>: </span>
                                    <select required data-errmsg="Please enter years of experience" name="yoe"
                                            onchange="experienceLevelChanged(this);">
                                        <option value="">-Select-</option>
                                        <option>No experience</option>
                                        <option>Less than 2 years</option>
                                        <option>More than 2 years</option>
                                    </select>
                                </label>
                                <label class="form-input-label degree-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Degree/Certificate related to <span
                                            id="rel-position"></span> position: </span>
                                    <select name="degree" required data-errmsg="Please specify your degree (if any)" style="margin-left: 26px;"
                                            onchange="degreeChanged(this);">
                                        <option value="">-Select-</option>
                                    </select>
                                </label>
                                <label class="form-input-label graduated-in-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Graduation Year:</span>
                                    <select name="graduation">
                                    </select>
                                </label>
                                <label class="form-input-label salary-exp-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <input placeholder="Expected Salary*" required data-errmsg="Enter expected salary in $/hour" name="expectedSalary" size="3" required type="number" min="1" max="100"
                                           onchange="checkSalaryLimits()">
                                    <span>$/hour</span>
                                </label>
                                <label class="form-input-label avg-salary-info">
                                    <span>Based on your degree and level of experience, <br>average salary expectation is $<span
                                            id="expectedSalary"></span>/hour</span>
                                </label>
                                <!--<label class="form-input-label">
                                    <textarea required data-errmsg="Minimum 100 words are required" type="textarea" cols="60" rows="6"
                                              onchange="var t = $(this); t.val().split(' ').length<100 ? t.addClass('why-hire-invalid'): t.removeClass('why-hire-invalid');"
                                              name="whyHire"
                                              placeholder="Tell us why you should be hired (min 100 words)*"></textarea>
                                </label>-->
                            </div>
            
          

      <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" ng-click="navigateToPreviousSection()">Previous</button>
      <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="navigateToNextSection()">Next</button>

          </div>
    </div>

      <div ng-show="currentSection==4" class="row setup-content">

           <div class="col-md-12" style="margin-left:75px;">

             <div class="availability-day">

                                    <div class="checkbox">
                                        <label><input name="av-mon" type="checkbox" value="Monday">Monday</label>
                                        <div class="av-mon time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkbox">
                                        <label><input name="av-tue" type="checkbox" value="Tuesday">Tuesday</label>
                                        <div class="av-tue time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-wed" type="checkbox" value="Wednesday">Wednesday</label>
                                        <div class="av-wed time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-thu" type="checkbox" value="Thursday">Thursday</label>
                                        <div class="av-thu time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-fri" type="checkbox" value="Friday">Friday</label>
                                        <div class="av-fri time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-sat" type="checkbox" value="Saturday">Saturday</label>
                                        <div class="av-sat time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-sun" type="checkbox" value="Sunday">Sunday</label>
                                        <div class="av-sun time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

      <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" ng-click="navigateToPreviousSection()">Previous</button>
      <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="navigateToNextSection()">Next</button>

          </div>
    </div>
      
   


<div ng-show="(user_role=='worker' && currentSection==5) || (user_role=='employer' && currentSection==3) " class="row setup-content">
      <!--<div class="row setup-content" id="step-5">-->
          <div ng-show="user_role=='employer'" class="col-md-12" style="margin-left:75px;">
             <div class="form-group" ng-class="{'has-error':((myForm.cardnumber.$error.minlength || myForm.cardnumber.$error.required)  && myForm.$submitted) }">
              <input maxlength="100" name="cardnumber" ng-minlength="13" type="text" ng-model="cardnumber" required="required" class="form-control login-signup-form-field" placeholder="Card number">
               <div class="submit-messages" ng-if="((myForm.cardnumber.$error.minlength || myForm.cardnumber.$error.required)  && myForm.$submitted)" ng-messages="myForm.cardnumber.$error" role="alert">
                <div ng-if="myForm.cardnumber.$error.minlength">Enter a valid card number</div>
                <div ng-if="myForm.cardnumber.$error.required">Enter your card number</div>
              </div>
            </div>
</div>
            <div ng-show="user_role=='worker'" class="form-group" ng-class="{'has-error':((myForm.accountnumber.$error.minlength || myForm.accountnumber.$error.required)  && myForm.$submitted) }">
              <input maxlength="100" name="accountnumber" ng-minlength="13" type="text" ng-model="accountnumber" required="required" class="form-control login-signup-form-field" placeholder="Account Number">
               <div class="submit-messages" ng-if="((myForm.accountnumber.$error.minlength || myForm.accountnumber.$error.required)  && myForm.$submitted)" ng-messages="myForm.accountnumber.$error" role="alert">
                <div ng-if="myForm.accountnumber.$error.minlength">Enter a valid account number</div>
                <div ng-if="myForm.accountnumber.$error.required">Enter your account number</div>
              </div>
            </div>



            <div  ng-show="user_role=='employer'" class="form-group" ng-class="{'has-error':(myForm.expirationDate.$error.minlength || myForm.expirationDate.$error.required || myForm.expirationDate.$error.email )  && myForm.$submitted }">
              <input maxlength="100" name="expirationDate" ng-minlength="5" type="text" ng-model="expirationDate" required="required" class="form-control login-signup-form-field" placeholder="MM/YYYY">
               <div class="submit-messages" ng-if="myForm.$submitted && (myForm.expirationDate.$error.minlength || myForm.expirationDate.$error.required)" ng-messages="myForm.expirationDate.$error" role="alert">       
                <div ng-if="myForm.expirationDate.$error.required">Enter your card expiration date</div>
              </div>
            </div>
           
           <div ng-show="user_role=='employer'" class="form-group" ng-class="{'has-error':(myForm.cvvNumber.$error.minlength || myForm.cvvNumber.$error.required)  && myForm.$submitted }">
              <input maxlength="3" name="cvvNumber" ng-minlength="3" type="text" ng-model="cvvNumber" required="required" class="form-control login-signup-form-field" placeholder="CVV">
               <div class="submit-messages" ng-if="myForm.$submitted && (myForm.address.$error.minlength || myForm.cvvNumber.$error.required)" ng-messages="myForm.cvvNumber.$error"  role="alert">       
                <div ng-if="myForm.cvvNumber.$error.required">Enter your cvv number</div>
              </div>
            </div>
          <div class="col-md-12">
            <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" ng-click="navigateToPreviousSection()">Previous</button>
            <button class="btn submitBtn btn-lg pull-right" type="submit" ng-click="submit()">Submit</button>
          </div>
        
      </div>
      </div>
      </div>
</form>

 



 <!--EXPERIENCE SECTION -->

       <!--<div id="experience" class="my-section collapse">
                            <div class="signup-form">
                                <label class="form-input-label category-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Category<span style="color: red;">*</span>: </span>
                                    <select required data-errmsg="Please select a category" name="category"
                                            onchange="if (this.value != '') $('.yoe-input').show();">
                                        <option value="">-Select-</option>
                                        <option>Bartender</option>
                                        <option>Waitress</option>
                                        <option>DJ</option>
                                        <option>Security Agent</option>
                                    </select>
                                </label>
                                <label class="form-input-label yoe-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Level of Experience<span style="color: red;">*</span>: </span>
                                    <select required data-errmsg="Please enter years of experience" name="yoe"
                                            onchange="experienceLevelChanged(this);">
                                        <option value="">-Select-</option>
                                        <option>No experience</option>
                                        <option>Less than 2 years</option>
                                        <option>More than 2 years</option>
                                    </select>
                                </label>
                                <label class="form-input-label degree-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Degree/Certificate related to <span
                                            id="rel-position"></span> position: </span>
                                    <select name="degree" required data-errmsg="Please specify your degree (if any)" style="margin-left: 26px;"
                                            onchange="degreeChanged(this);">
                                        <option value="">-Select-</option>
                                    </select>
                                </label>
                                <label class="form-input-label graduated-in-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <span>Graduation Year:</span>
                                    <select name="graduation">
                                    </select>
                                </label>
                                <label class="form-input-label salary-exp-input">
                                    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i>
                                    <input placeholder="Expected Salary*" required data-errmsg="Enter expected salary in $/hour" name="expectedSalary" size="3" required type="number" min="1" max="100"
                                           onchange="checkSalaryLimits()">
                                    <span>$/hour</span>
                                </label>
                                <label class="form-input-label avg-salary-info">
                                    <span>Based on your degree and level of experience, <br>average salary expectation is $<span
                                            id="expectedSalary"></span>/hour</span>
                                </label>
                                <label class="form-input-label">
                                    <textarea required data-errmsg="Minimum 100 words are required" type="textarea" cols="60" rows="6"
                                              onchange="var t = $(this); t.val().split(' ').length<100 ? t.addClass('why-hire-invalid'): t.removeClass('why-hire-invalid');"
                                              name="whyHire"
                                              placeholder="Tell us why you should be hired (min 100 words)*"></textarea>
                                </label>
                            </div>
                        </div>-->



<!--SCHEDULE SECTION-->

          <!--<div id="schedule" class="my-section collapse">
                            <div class="signup-form">
                                <label class="form-input-label">
                                    <p class="availability-title">I am available<span style="color: red;">*</span></p>
                                </label>
                                <div class="availability-day">

                                    <div class="checkbox">
                                        <label><input name="av-mon" type="checkbox" value="Monday">Monday</label>
                                        <div class="av-mon time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkbox">
                                        <label><input name="av-tue" type="checkbox" value="Tuesday">Tuesday</label>
                                        <div class="av-tue time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-wed" type="checkbox" value="Wednesday">Wednesday</label>
                                        <div class="av-wed time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-thu" type="checkbox" value="Thursday">Thursday</label>
                                        <div class="av-thu time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-fri" type="checkbox" value="Friday">Friday</label>
                                        <div class="av-fri time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-sat" type="checkbox" value="Saturday">Saturday</label>
                                        <div class="av-sat time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="av-sun" type="checkbox" value="Sunday">Sunday</label>
                                        <div class="av-sun time-of-day">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-a" checked>All day</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-m">Morning</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-n">Afternoon</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="tod-e">Evening</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->