<style>
#exTab2{
   border-bottom: 50px solid  #454545;
}
.form-input-label i{
    color:crimson
}

.middle {
	text-align: center;

	
}

.col-md-8.col-xs-offset-2{
padding:0;
}
.fa{
    padding-bottom: 0;
}
.inactive2{
    color:black;
}
.active2 {
	color: blue;
}	

.second {
	text-align: center;
	
	
}
.inactive1{
    color:black;
}
.active1 {
	color: blue;
}	

.col-xs-2{
    padding:0;
    text-align: left;
}
.col-xs-9{
    padding:0;
}
.col-xs-10{
    padding:0;
}
#securityheader{margin:0;}


   #enable{
   background-color: red;}

.col-xs-9{
    margin-left:5%;
}

.menusmall h6:hover {
  
    background-color: #454545;
   
}
#addPhone{
 text-decoration: underline;
 color:blue;
}

#turnOnOff{
  text-decoration: underline;
 color:blue;  
}

.mybutton1{
    margin-bottom:10%;
}
.form-group.col-xs-12{
    padding-left: 0;
}


    </style>
 
<script>
$(document).ready(function () {
   


   

	$('.middle').click(function() {
		$('.inactive2, .active2').toggle();
         $("#email1").toggle();
  });


$('.second').click(function() {
		$('.inactive1, .active1').toggle();
          $("#enterPhone1").toggle();
  });


  


    $("#Securitymenu").click(function(){
        event.preventDefault();
        $("#Account").hide();
         $("#Notification").hide();
        $("#Security").show();
          
    });

    $("#Accountmenu").click(function(){
        event.preventDefault();
         $("#Security").hide();
         $("#Notification").hide();
        $("#Account").show();
    
          
    });
    $("#Notificationmenu").click(function(){
        event.preventDefault();
         $("#Security").hide();
        $("#Account").hide(); 
         $("#Notification").show();
    });
   
   $("#addPhone").click(function(event){
    event.preventDefault();
    if ($("#enterPhone").is(':visible')){
     $("#enterPhone").hide();
    }
    else{ $("#enterPhone").show();}
    })

    $("#turnOnOff").click(function(event){
    event.preventDefault();
    if ($("#phoneVerify").is(':visible')){
    $("#phoneVerify").hide();
    }
     else{
         $("#phoneVerify").show();
     }
    });

});

function showPassword()
{
        event.preventDefault();
        $("#emailChange").hide();
          $("#PhoneChange").hide();
           $("#AddressChange").hide();
           $("#PasswordChange").show();

}

function showEmail()
{
        event.preventDefault();
          $("#PhoneChange").hide();
           $("#AddressChange").hide();
           $("#PasswordChange").hide();
            $("#emailChange").show();
}


function showPhone()
{
        event.preventDefault();
           $("#AddressChange").hide();
           $("#PasswordChange").hide();
            $("#emailChange").hide();
             $("#PhoneChange").show();
}

function showAddress()
{
        event.preventDefault();
           $("#PasswordChange").hide();
            $("#emailChange").hide();
             $("#PhoneChange").hide();
              $("#AddressChange").show();
}

function validateEmail(){
     var input =  $("#newEmail").val();
     var second=$("#confirmEmail").val();
     if(input==second){
     document.getElementById("writeEmail").innerHTML = input;
         $('input[type="text"], textarea').val('');
         $(".input-validation").hide();
     }
     else{
        $(".input-validation").show();
     }
}

    </script>



						<div class="col-md-8 col-xs-offset-2">
<div id="exTab2">	
<ul class="nav nav-tabs">
			<li class="active">
        <a href="" id="Accountmenu" data-toggle="tab">Account</a>
			</li>
			<li><a href="" id="Notificationmenu" data-toggle="tab">Notifications</a>
			</li>
			<li><a href="" id="Securitymenu" data-toggle="tab">Security</a>
			</li>
		</ul>

  </div>

 <div style="margin-bottom:80%;">
  
           <div  class="settingsPart" id="Account">
             <div class="col-md-12 well">  
           <h3>
               Account
           </h3>
           <small class="form-text text-muted"> Change your basic account information and language settings.</small>
           <hr>
         
              <!--<button id="enable"  onclick="disablenot();" type="button" value="Enable">Enable </button>-->
           

          
           
            <form id="myForm">
            <div class="col-xs-2 " >   
                <a href=""  class="menusmall " onclick=" showEmail()" id="email" ><h6>Email</h6> </a>
                <br>

               <a href="" class="menusmall" onclick=" showPassword()" id="password" ><h6> Password</h6> </a>
                  <br>
               <a href="" class="menusmall" onclick="showPhone()"id="phone" > <h6>Phone Number</h6> </a>
                   <br>
                <a href=""  class="menusmall" onclick="showAddress()" id="address" ><h6>Address</h6></a>
                    <br>
                </div> 
            <div class="col-xs-9 " >

                <div id="emailChange" style="margin-left:20%;">
          <div>                
           <h5>
               Change the email address
           </h5>
           <div class="input-validation" style="display:none; color:red">Email does not match. Please enter again</div>
         <p>   Current email : <strong> <snap id="writeEmail"><snap></p> </strong>
            
          </div>
           
           <strong><p>New Email</p></strong>
                    <input type="email" data-errmsg="Enter a valid email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="newEmail" name="email" /></label><br>  <br>
                      <strong><p>Confirm Email</p></strong>
                      <input type="email" data-errmsg="Enter a valid email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="confirmEmail" name="email" /></label>  </br></br>
                    
                    <input type="submit" class="btn btn-info mybutton1" onclick="validateEmail()" value="Enable">
                 </div>

                      


                          <div id="PasswordChange" style="margin-left:20%; display:none">
          <div>                
           <h5>
               Change Password
           </h5>
         
            
            
          </div>
           
           <strong><p>New Password</p></strong>
                    <input type="password" data-errmsg="Enter a valid email address" name="email" /></label><br>  <br>
                      <strong><p>Confirm Password</p></strong>
                      <input type="password" data-errmsg="Enter a valid email address" name="email" /></label>  </br></br>
                    
                    <button id="enable"  onclick="disablenot();" type="button" value="Enable">Enable </button>
                 </div>

           <!-- -->

                <div id="PhoneChange" style="margin-left:20%; display:none">
          <div>                
           <h5>
               Change Phone Number
           </h5>
         
            <small class="form-text text-muted"> Current Phone :</small>
            
          </div>
           
           <strong><p>New Phone Number</p></strong>
                    <input type="text" data-errmsg="Enter a valid email address" name="email" /></label><br>  <br>
                     
                    <button id="enable"  onclick="disablenot();" type="button" value="Enable">Enable </button>
                 </div>
                <!-- -->

<div id="LanguageChange" style="margin-left:15%; display:none">
    	<div class="form-group col-xs-12 pull-left">
            <div class="col-xs-4">
			    <label class="control-label">Language</label>
            </div>
            <div class="col-xs-5">
			     <select class="form-control input-md" id="exampleSelect2">
          <option>English</option>
            <option>German</option>
             <option>French</option>
            <option>Italian</option>
             <option>Spainish</option>
            </select>
                </div>
                    <button id="enable"  onclick="disablenot();" type="button" value="Enable">Enable </button>
                 </div>

    </div> 






         <div id="AddressChange" style="margin-left:20%; display:none">
          <div>              
           <h5>
               Change your Address
           </h5>
        
          </div>
              <br>  
          <div class="form-group col-xs-12">
           <div class="col-xs-2">
                <label class=" control-label" style="float:left;">Street</label>
            </div>
            <div class="col-xs-5">            
                <label class="form-input-label ">
             <input type="text" required data-errmsg="Please enter address line" name="address" /></label>
            </div>
</div>
                  	<div class="form-group col-xs-12">
            <div class="col-xs-2">
			    <label class="col-xs control-label " style="float:left;">City</label>
            </div>
            <div class="col-xs-5">
			   <label class="form-input-label">
                                    <input type="text" required data-errmsg="Please enter address line" name="address" /></label>
                </div>
		    </div>

                       <div class="form-group col-xs-12">
            <div class="col-xs-2">
                <label class=" control-label">State</label>
            </div>
            <div class="col-xs-5">
			      <select class="form-control input-md" id="exampleSelect2">
            <option>New York</option>
            <option>Maine</option>
             <option>Florida</option>
            <option>Californi</option>
             <option>Washington</option>
            </select>
                </div>
		    </div>  

                        <div class="form-group col-xs-12 pull-left">
            <div class="col-xs-2">
			    <label class="control-label">Country</label>
            </div>
            <div class="col-xs-5">
			      <select class="form-control input-md" id="exampleSelect2">
            <option>France</option>
            <option>USA</option>
             <option>England</option>
            <option>Germany</option>
             <option>Spain</option>
            </select>
                </div>
		    </div>
 
         <div class="form-group col-xs-12 pull-left">
         <div class="col-xs-2"> 
				<label class="col-xs-2 pull-left control-label" for="firma_nip">ZipCode</label>
            </div>
            <div class="col-xs-1"> 
			    <label class="form-input-label">
                <input type="text" required data-errmsg="Please enter address line" name="address" /></label>
			</div>
         </div>
        


             </div>   
          </form>
           

    
         
</div>

</div>

</div>



        <div class="settingsPart " id="Security" style="display: none">
             <div class="col-md-12 well">  
           <h3>
               Security
           </h3>
           <small class="form-text text-muted"> Change your security preferences.</small>
           <hr>
         

            <form>

           <div class="form-group col-xs-10">
                <div class="col-xs-9">
          <h5 id="securityheader">Two-step verification</h5> 
          </div>
           <div class="col-xs-1">
          <a href="#" id="turnOnOff">Change</a>
          </div>
          </div>
           <div class="form-group col-xs-10">
                <div class="col-xs-9">
          <h6>Activate this feature for enchanced account security</h6>
          </div>
           <div class="col-xs-1">

          </div>
         
           <div id="phoneVerify" style="display: none" class="form-group col-xs-10">
                <br>
                <div class="col-xs-9">
          <h6>You need to add your phone number</h6>
          <a href="" id="addPhone"> Add a phone number</a>
          <div style="display: none;" id="enterPhone">
              
          <input type="text" required data-errmsg="Enter 10 digit phone number" name "phone"  class="form-control input-md pull-left">
          <button type="button"  class=" btn payment" type="submit" style="background-color:crimson;margin-top:10%;"> Send code</button>
           </div>
           </div>
           </div>
         
       </div>
                        
        </form>     
    </div>   
     </div>   





       
        
        <div class="settingsPart  " id="Notification" style="display: none;">
          <div class="col-md-12 well">  
           <h3>
               Notifications
           </h3>
           <small class="form-text text-muted">  Change your notification preferences.</small>
           
           <hr>
            <form>

           <div class="form-group col-xs-12">
                <div class="col-xs-12">
         
          <p style="float:left;"> Send notifications by email </p>
        
             
        <div class="middle" style="float:right">
		<i class="fa fa-toggle-on fa-2x active2" id="on" style="display:none;"></i>
		<i class="fa fa-toggle-on fa-2x fa-rotate-180 inactive2" id="off" ></i>
	    </div> 
          </div>
     </div>
      

           <div class="form-group col-xs-12">
                <div class="col-xs-12">
                    <DIV>
          <p style="float:left;">Send notifications by phone</P>
          
           <div class="second" style="float:right">
		<i class="fa fa-toggle-on fa-2x active1" id="on" style="display:none;"></i>
		<i class="fa fa-toggle-on fa-2x fa-rotate-180 inactive1" id="off" ></i>
	   </div> 

      </DIV>

       </div>
           
       </div>

</div>
   </div> 
       
    </div>    
           <!--Address-->

<!-- End of Address-->





