
                        <div class="row">
                            <div class="profile-top-background"></div>
                            <div class="profile-container">
                                <img class="profile-picture">
                                <div class="profile-name"></div>
                                <div class="profile-degree"></div>
                                <div class="profile-position"></div>
                                <div class="profile-age" style="display: none;">
                                    <i class="fa fa-birthday-cake" style="color: red;"></i>
                                    <span id="age"></span>
                                </div>

                                <div class="profile-block">
                                    <div class="profile-reviews-comments">
                                      <span class="profile-block-value">3</span>
                                        <div class="rating-reviews-title">Feedbacks</div>
                                    </div>
                                    <div class="profile-reviews">
                                        <span class="profile-block-value">4.9</span>
                                        <span class="rating-visual">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-full"></i>
                                        </span>
                                      
                                    </div>
                                    <div class="profile-missions">
                                        <span class="profile-block-value">7</span>
                                        <div class="mission-info">Missions</div>
                                    </div>
                                    <div class="profile-salary-expected"></div>
<!--
                                      <span class="salary-expected-amount"></span>
                                        <div class="salary-expected-title">Per hour</div>
-->
                                </div>

                                <div class="profile-whyHire">
                                    <div>Here is why you should hire <span id="name"></span></div>
                                    <div id="whyHire"></div>
                                </div>
                                <div class="profile-experience">
                                    <div>Experience</div>
                                </div>
                                <div class="profile-schedule">
                                    <div>Schedule</div>
                                </div>
                                <button class="btn btn-primary" onclick="openOfferPopup()">Send Request</button>
                            </div>
                        </div>
                   
    <div id="mask"></div>

<script>

//    function removeJobTiming(el) {
//        $(el).closest('.job-timing').remove();
//        if ($('.dates-selection .job-timing').length == 0) {
//            $('#scheduleBtn .fields-validation-check').hide();
//            updateScheduleNowButton();
//        }
//    }
//
//    function appendTimePicker(className) {
//        var content = '<select class="' + className + '">';
//        for(var i =0; i < 24; i++){
//            var hour = ((i + 11) % 12 + 1);
//            var a = i > 11 ? "pm" : "am";
//            content += '<option value="'+ hour + ':00 '+a+'" >'+ hour + ':00 '+a+'</option>';
//            content += '<option value="'+ hour + ':15 '+a+'" >'+ hour + ':15 '+a+'</option>';
//            content += '<option value="'+ hour + ':30 '+a+'" >'+ hour + ':30 '+a+'</option>';
//            content += '<option value="'+ hour + ':45 '+a+'" >'+ hour + ':45 '+a+'</option>';
//        }
//        content += '</select>';
//        return content;
//    }
//
//    function openOfferPopup() {
//        $('#mask').show();
//        $('#job-offer-popup').show();
//    }
//
//    $('input, textarea').on('change', function(e) {
//        e = e || window.event;
//        var target = e.target || e.srcElement;
//
//        var holder = $(target).closest('.my-section');
//        var emptyElements = holder.find('input[required], select[required], textarea').filter(function(idx,val) {
//            /*if (val.type == 'radio' || val.type == 'checkbox') {
//             return !val.checked;
//             } else {*/
//            // TODO: handle radiogroups and checkboxes
//            return $(val).val() == "";
//            // }
//        });
//        var checkmarkEl = $('#' + holder[0].id + 'Btn .fields-validation-check');
//        if (emptyElements.length == 0) {
//            checkmarkEl.show();
//        } else {
//            checkmarkEl.hide();
//        }
//        updateScheduleNowButton();
//    });
//
//    function updateScheduleNowButton() {
//        var allChecks = $('#job-offer-popup .fields-validation-check');
//        var allUnchecks = allChecks.filter(function(idx,val) {
//            return $(val).is(":hidden");
//        });
//        if (allUnchecks && allUnchecks.length == 0) {
//            // activate create an account button
//            $('#scheduleNowBtn').prop('disabled', '');
//        } else {
//            $('#scheduleNowBtn').prop('disabled', 'disabled');
//        }
//    }
</script>

</body>
</html>