
                        <div class="row">
                            <div class="profile-top-background"></div>
                            <div class="profile-container">
                                <img class="profile-picture">
                                <div class="profile-name"></div>
                                <div class="profile-degree"></div>
                                <div class="profile-position"></div>
                                <div class="profile-age" style="display: none;">
                                    <i class="fa fa-birthday-cake" style="color: red;"></i>
                                    <span id="age"></span>
                                </div>

                                <div class="profile-block">
                                    <div class="profile-reviews-comments">
                                      <span class="profile-block-value">3</span>
                                        <div class="rating-reviews-title">Feedbacks</div>
                                    </div>
                                    <div class="profile-reviews">
                                        <span class="profile-block-value">4.9</span>
                                        <span class="rating-visual">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-full"></i>
                                        </span>
                                      
                                    </div>
                                    <div class="profile-missions">
                                        <span class="profile-block-value">7</span>
                                        <div class="mission-info">Missions</div>
                                    </div>
                                    <div class="profile-salary-expected"></div>
<!--
                                      <span class="salary-expected-amount"></span>
                                        <div class="salary-expected-title">Per hour</div>
-->
                                </div>

                                <div class="profile-whyHire">
                                    <div>Here is why you should hire <span id="name"></span></div>
                                    <div id="whyHire"></div>
                                </div>
                                <div class="profile-experience">
                                    <div>Experience</div>
                                </div>
                                <div class="profile-schedule">
                                    <div>Schedule</div>
                                </div>
                                <button class="btn btn-primary" onclick="openOfferPopup()">Send Request</button>
                            </div>
                        </div>
                   
    <div id="mask"></div>

<script>
    $(document).ready(function() {
        var workers = sessionStorage.getItem('workers');
        var selectedWorkerId = sessionStorage.getItem('selectedWorkerId');
        var worker;
        if (workers) {
            workers = JSON.parse(workers);
            worker = workers[selectedWorkerId];
        } else {
            worker = {
                email: "jane.doe@yopmail.com",
                password: "welcome",
                firstName: "Jane",
                lastName: "Doe",
                address: "223-B Bakers Street",
                city: "London",
                zip: "06330",
                state: "England",
                phone: "9898298982",
                dob: "01-01-1990",
                gender: "F",
                profilePic: "images/12080057_10206075733424857_1178354056710554146_o.jpg",
                category: "Waitress",
                yoe: "More than 2 years",
                degree: "None",
                graduation: "Still attending",
                expectedSalary: 24,
                avgSalary: 14,
                whyHire: "Coz I'm the best of the best of the best of the best of the best of the best of the best of the best of the best of the best of the best of the best of the best of the best of the best of the best. Period.",
                schedule: {
                    Monday: ["tod-a"],
                    Thursday: ["tod-n", "tod-e"]
                },
                ccNumber: "5523 0000 0000 0001",
                expDate: "01/19",
                cvv: "123",
                id: 0
            };
        }

        $('.profile-picture')[0].src = worker.profilePic;
        $('.profile-name').append(worker.firstName + ' ' + worker.lastName);
        if (worker.degree != '' && worker.degree != 'None') {
            var degreeEl = $('.profile-degree');
            degreeEl.append("Student at " + worker.degree);
            if (!isNaN(worker.graduation)) {
                degreeEl.append(", graduated in " + worker.graduation);
            }
        }
        $('.profile-position').append('Looking for ' + worker.category + ' position');
        if (worker.dob) {
            $('.profile-age').show();
            $('#age').append(getAge(worker.dob));
        }

        $('.profile-salary-expected').append('$' + worker.expectedSalary + " per hour");
        $('#name').append(worker.firstName + ' ' + worker.lastName);
        $('#whyHire').append(worker.whyHire);

        var expContent = '<div class="experience-item">';
        expContent += '<span>' + worker.category + '</span>';
        expContent += '<span>' + worker.yoe + '</span>';
        expContent += '</div>';

        $('.profile-experience').append(expContent);

        var availability = $('.profile-schedule');
        var days = Object.keys(worker.schedule);
        for (var i=0; i<days.length; i++) {
            var content = '<div class="day-item"><div class="day">' + days[i] + '</div>';
            content += '<div class="tod">';
            for (var j=0; j<worker.schedule[days[i]].length; j++) {
                switch (worker.schedule[days[i]][j]) {
                    case "tod-a":
                        content += 'All Day';
                        break;
                    case "tod-m":
                        content += 'Morning';
                        break;
                    case "tod-n":
                        content += 'Afternoon';
                        break;
                    case "tod-e":
                        content += 'Evening';
                        break;
                }
                if (j+1 < worker.schedule[days[i]].length) {
                    content += ', ';
                }
            }
            content += '</div></div>';
            availability.append(content);
        }

//        $('#job-offer-popup .title').html(worker.firstName + ' ' + worker.lastName);
//        $('#job-offer-popup .rate').html("$" + worker.expectedSalary + "/hour");
        var scheduler = $('#scheduler').datepicker({
            onSelect: function(dateText) {
                var holder = $('.dates-selection');
                var content = '<div class="job-timing">';
                content += '<div class="job-date">' + dateText + '</div>';
                content += 'From ';
                content += appendTimePicker('from');
                content += 'To ';
                content += appendTimePicker('to');
                content += '&nbsp;<i class="fa fa-remove" style="color: red;" onclick="removeJobTiming(this);"></i>';
                content += '</div>';

                holder.append(content);
                $('#scheduleBtn .fields-validation-check').show();
                updateScheduleNowButton();
            }
        });
        scheduler.show();
    });

//    function removeJobTiming(el) {
//        $(el).closest('.job-timing').remove();
//        if ($('.dates-selection .job-timing').length == 0) {
//            $('#scheduleBtn .fields-validation-check').hide();
//            updateScheduleNowButton();
//        }
//    }
//
//    function appendTimePicker(className) {
//        var content = '<select class="' + className + '">';
//        for(var i =0; i < 24; i++){
//            var hour = ((i + 11) % 12 + 1);
//            var a = i > 11 ? "pm" : "am";
//            content += '<option value="'+ hour + ':00 '+a+'" >'+ hour + ':00 '+a+'</option>';
//            content += '<option value="'+ hour + ':15 '+a+'" >'+ hour + ':15 '+a+'</option>';
//            content += '<option value="'+ hour + ':30 '+a+'" >'+ hour + ':30 '+a+'</option>';
//            content += '<option value="'+ hour + ':45 '+a+'" >'+ hour + ':45 '+a+'</option>';
//        }
//        content += '</select>';
//        return content;
//    }
//
//    function openOfferPopup() {
//        $('#mask').show();
//        $('#job-offer-popup').show();
//    }
//
//    $('input, textarea').on('change', function(e) {
//        e = e || window.event;
//        var target = e.target || e.srcElement;
//
//        var holder = $(target).closest('.my-section');
//        var emptyElements = holder.find('input[required], select[required], textarea').filter(function(idx,val) {
//            /*if (val.type == 'radio' || val.type == 'checkbox') {
//             return !val.checked;
//             } else {*/
//            // TODO: handle radiogroups and checkboxes
//            return $(val).val() == "";
//            // }
//        });
//        var checkmarkEl = $('#' + holder[0].id + 'Btn .fields-validation-check');
//        if (emptyElements.length == 0) {
//            checkmarkEl.show();
//        } else {
//            checkmarkEl.hide();
//        }
//        updateScheduleNowButton();
//    });
//
//    function updateScheduleNowButton() {
//        var allChecks = $('#job-offer-popup .fields-validation-check');
//        var allUnchecks = allChecks.filter(function(idx,val) {
//            return $(val).is(":hidden");
//        });
//        if (allUnchecks && allUnchecks.length == 0) {
//            // activate create an account button
//            $('#scheduleNowBtn').prop('disabled', '');
//        } else {
//            $('#scheduleNowBtn').prop('disabled', 'disabled');
//        }
//    }
</script>

</body>
</html>