 <div class="row profile-wrapper">
        <div class="profile-top-background">
            <span class="age">
                <span><i class="fa fa-birthday-cake"></i>24</span>
            </span>
        </div>
        <div class="profile-container">
                <div class="profile-pic-holder">
                    <!--<img class="profile-picture">-->
                    <div class="profile-picture">
                    </div>
                </div>
                <div class="profile-data">
                    <div class="profile-name"></div>
                    <div class="profile-degree"></div>
                    <div class="profile-position"></div>
                    <!--<div class="profile-age" style="display: none;">
                        <i class="fa fa-birthday-cake" style="padding-top:20px;"></i>
                        <span id="age">24</span>
                    </div>-->
                </div>
            <div clas="profile-main-block">
                <div class="profile-feedback-wrapper">
                    <div class="profile-feedback">
                        <div>
                            <h1>3</h1>
                            <span>Feedbacks</span>
                        </div>
                    </div>
                    <div class="profile-feedback">
                        <div>
                            <h1>4.9</h1>
                            <span>Rating</span>
                        </div>
                    </div>
                    <div class="profile-feedback">
                        <div>
                            <h1>7</h1>
                            <span>Missions</span>
                        </div>
                    </div>
                    <div class="profile-feedback">
                        <div>
                            <h1>$24</h1>
                            <span>Rate/hr</span>
                        </div>
                    </div>
                </div>
                <div class="profile-pitch">
                    <h5><strong>Why you should hire Jane</strong></h5>
                    <span>
                        I'm Jane, and I think you should hire me because I'm the best you will ever get.
                    </span>
                </div>
            </div>
            <!--
            old profile block
            <div class="profile-block">                
                <div class="profile-reviews-comments">
                    <span class="profile-block-value">3</span>
                    <div class="rating-reviews-title">Feedbacks</div>
                </div>
                <div class="profile-reviews">
                    <span class="profile-block-value">4.9</span>
                    <span class="rating-visual">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </span>
                </div>
                <div class="profile-missions">
                    <span class="profile-block-value">7</span>
                    <div class="mission-info">Missions</div>
                </div>
                <div class="profile-salary-expected"></div>
                <span class="salary-expected-amount"></span>
                <div class="salary-expected-title">Per hour</div>

                <div class="profile-whyHire">
                    <div>Here is why you should hire <span id="name"></span></div>
                    <div id="whyHire"></div>
                </div>
                <div class="profile-experience">
                    <div>Experience</div>
                </div>
                <div class="profile-schedule">
                    <div>Schedule</div>
                </div>
                <button class="btn btn-primary" onclick="openOfferPopup()">Send Request</button>     
            </div>
            old profile block end 
            -->
        </div>
    </div>
    
    <div class="work-and-schedule work">
        <div class="title"><strong>Work Experience</strong></div>
        <div class="detail">
            <table class="detail-table table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Duration</th>
                        <th>Degree</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sales Rep</td>
                        <td>2 years</td>
                        <td>B.Sc. CSCE</td>
                    </tr>
                    <tr>
                        <td>Sales Rep</td>
                        <td>2 years</td>
                        <td>B.Sc. CSCE</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="work-and-schedule schedule">
        <div class="title">
            <strong>Schedule</strong>
            <br><small>Available 3 times a week</small>
        </div>
        <div class="detail">
            <table class="detail-table table table-bordered">
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>All days</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>Morning, evening</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>Evening</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Button trigger modal -->
    <button type="button" class="schedule-btn" data-toggle="modal" data-target="#myModal">
        Schedule
    </button>

    <!--schedule modal-->
    <div class="modal fade schedule-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">SCHEDULE</h4>
            </div>
            <div class="modal-body">
                <div class="hire-text">
                    <h5>Hire Jane Doe at $24/hr</h5>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="">Job Title <span style="color: #f00">*</span></label>
                        <input type="text" class="form-control" placeholder="e.g Sales Representative">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea placeholder="About this mission"></textarea>
                    </div>
                    <div>
                        <label for="">Location <span style="color: #f00">*</span></label>
                        <div class="select-box">
                            <select name="" id="">Choice
                                <option value="">Ontario</option>
                                <option value="">Toronto</option>
                            </select>
                        </div>
                    </div>
                    <div style="padding-top: 15px;">
                        <div><label for="">Date and time for this mission</label></div>
                        <div class="date-time">
                            <div class="form-group date-time" style="width: 170px;">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control" data-date-format="mm/dd/yyyy" placeholder="Date">
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar" style="margin: 0 auto; padding: 0; color: #000"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group" style="width: 120px; margin: 0 10px;">
                                <input id="timepicker1" type="text" class="form-control input-small" placeholder="From">
                                <div class="input-group-addon">
                                    <span class="fa fa-clock-o" style="margin: 0 auto; padding: 0; color: #000"></span>
                                </div>
                            </div>
                            <div class="input-group" style="width: 120px">
                                <input id="timepicker1" type="text" class="form-control input-small" placeholder="To">
                                <div class="input-group-addon">
                                    <span class="fa fa-clock-o" style="margin: 0 auto; padding: 0; color: #000"></span>
                                </div>
                            </div>
                            <button class="add-btn">ADD</button>
                        </div><br>
                        <div class="schedule-detail">
                            <span>Date 27/05/2017, Time 2.00PM - 4.00PM.</span>
                            <small><a>Delete</a></small>
                        </div>
                    </div>
                </div>
                <button class="schedule-btn-blue">
                    Schedule Now
                </button>
            </div>
            </div>
        </div>
    </div>
   